<div class="drawer-categoria" #drawerCategoria>
  <div class="ion-text-center">
    <ion-button fill="clear" expand="full" (click)="toggleDrawer()" class="button-drawer">
      <div class="drawer-pull">

      </div>
    </ion-button>
  </div>
 
  <mt-slide-button-loading *ngIf="loading" [slideOpts]="slideOpts"></mt-slide-button-loading>

  <div class="slide-categorias" *ngIf="categorias && !lugares && !loading">
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide>
        <div class="app-buttons">
          <ion-col size="4">
            <ion-button size="large" [color]="categoriaPrincipal">
              <div>
                <ion-icon slot="start" [src]="'assets/icon/icon_'+categoriaPrincipal+'.svg'"></ion-icon>
                <strong *ngIf="objCategoriaPrincipal">{{ objCategoriaPrincipal.nombre }}</strong>
              </div>
            </ion-button>
          </ion-col>
        </div>
      </ion-slide>

      <ion-slide *ngFor="let itemSubCategoria of categorias">
        <ion-thumbnail (click)="openSubCategoria(itemSubCategoria)">
          <img *ngIf="itemSubCategoria.imagen" [src]="itemSubCategoria.imagen?.formats.thumbnail.url">
          <img *ngIf="!itemSubCategoria.imagen"
            src="https://misiones-travel-fs.s3.sa-east-1.amazonaws.com/icon_4b335a8779.png">
          <ion-label>{{itemSubCategoria.nombre}}</ion-label>

        </ion-thumbnail>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="slide-categorias" *ngIf="lugares && !categorias && !loading">
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide>
        <div class="app-buttons">
          <ion-col size="4">
            <ion-button size="large" [color]="categoriaPrincipal">
              <div>
                <ion-icon slot="start" [src]="'assets/icon/icon_'+categoriaPrincipal+'.svg'"></ion-icon>
                <strong>{{ objCategoriaPrincipal.nombre }}</strong>
              </div>
            </ion-button>
          </ion-col>
        </div>
      </ion-slide>


      <ion-slide *ngFor="let itemSubCategoria of lugares">
        <ion-thumbnail (click)="openLugar(itemSubCategoria)">
          <img *ngIf="itemSubCategoria.imagen_miniatura"
            [src]="itemSubCategoria.imagen_miniatura?.formats.thumbnail.url">
          <img *ngIf="!itemSubCategoria.imagen_miniatura"
            src="https://misiones-travel-fs.s3.sa-east-1.amazonaws.com/icon_4b335a8779.png">
          <ion-label>{{itemSubCategoria.nombre}}</ion-label>
        </ion-thumbnail>
      </ion-slide>

    </ion-slides>
  </div>

  <div class="descripcion ion-padding" *ngIf="currentCategoria && !subCategoria">
    <!-- <label *ngIf="categoriaPrincipal">{{categoriaPrincipal}}/{{padre.nombre}}</label> -->
    <h1><strong>{{ currentCategoria.nombre }}</strong></h1>
    <p>
      {{ currentCategoria.descripcion }}
    </p>
  </div>

  <div class="descripcion ion-padding" *ngIf="subCategoria">
    <label *ngIf="hoja">{{categoriaPrincipal}}/{{subCategoria.nombre}}</label>
    <h1><strong>{{ subCategoria.nombre }}</strong></h1>
    <p>
      {{ subCategoria.descripcion }}
    </p>
  </div>

</div>