<div class="drawer" #drawer>
  <div class="ion-text-center">
    <ion-button fill="clear" expand="full" (click)="toggleDrawer()" class="button-drawer">
      <div class="drawer-pull">

      </div>
    </ion-button>
  </div>

  <ion-row class="app-buttons">
    <ion-col size="4">
      <ion-button size="large" class="imperdible" (click)="btnCategoria('imperdibles')">
        <div>
          <ion-icon slot="start" src="assets/icon/icon_imperdibles.svg"></ion-icon>
          <strong>{{ 'HOME.imperdibles' | translate }}</strong>
        </div>
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button size="large" class="atraccion" (click)="btnCategoria('atracciones')">
        <div>
          <ion-icon slot="start" src="assets/icon/icon_atracciones.svg"></ion-icon>
          <strong>{{ 'HOME.atracciones' | translate }}</strong>
        </div>
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button size="large" class="circuito" (click)="btnCategoria('circuito')">
        <div>
          <ion-icon slot="start" src="assets/icon/icon_circuitos.svg"></ion-icon>
          <strong>{{ 'HOME.circuitos' | translate }}</strong>
        </div>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="app-buttons">
    <ion-col size="4">
      <ion-button size="large" class="alojamiento" (click)="btnAlojamiento()">
        <div>
          <ion-icon slot="start" src="assets/icon/icon_alojamiento.svg"></ion-icon>
          <strong>{{ 'HOME.alojamiento' | translate }}</strong>
        </div>
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button size="large" class="gastronomia" [disabled]="true" (click)="btnCategoria('gastronomia')">
        <div>
          <ion-icon slot="start" src="assets/icon/icon_gastronomia.svg"></ion-icon>
          <strong>{{ 'HOME.gastronomia' | translate }}</strong>
        </div>
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button size="large" class="eventos" (click)="goTo('/eventos')">
        <div>
          <ion-icon slot="start" src="assets/icon/icon_cupones.svg"></ion-icon>
          <strong>{{ 'HOME.cupones' | translate }}</strong>
        </div>
      </ion-button>
    </ion-col>
  </ion-row>

</div>