.drawer {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    width: 100%;
    border-radius: 20px;
    // bottom: calc(-45vh + env(safe-area-inset-bottom));
    // height: 80vh;
    bottom: calc(-5vh + env(safe-area-inset-bottom));
    height: 40vh;
    z-index: 11;
    background: var(--ion-color-primary);
}

.button-drawer {
    --padding-top: 0;
    --padding-bottom: 1rem;
    height: 2rem;
}

.drawer-pull {
    background: #fff;
    height: 4px;
    width: 90px;
    border-radius: 2px;
}

.app-buttons {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;

    .imperdible {
        --background: linear-gradient(#f1f62c, #008d36);
    }

    .atraccion {
        --background: linear-gradient(#00edff, #364dff);
    }

    .circuito {
        --background: linear-gradient(#ffd635, #ff9747);
    }

    .alojamiento {
        --background: linear-gradient(#3fe1ff, #5700db);
    }

    .gastronomia {
        --background: linear-gradient(#f32881, #8838f1);
    }

    .eventos {
        --background: linear-gradient(#5adcbf, #2a9594);
    }

    ion-button {
        height: 6rem;
        width: 6rem;
        // margin-right: 1rem;
    }

    ion-button div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        font-size: .9rem;

        ion-icon {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }

    .md ion-button div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        font-size: .6rem;

        ion-icon {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }
    
}