ion-content {
    --offset-top: 0px;
    position: absolute;
}

ion-slides {
    height: 70%;

    ion-slide {
        img {
            // width: 200px;
            height: 100%;
            object-fit: cover;
        }
    }
}