<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" scrollY="false">

  <div class="search" *ngIf="showSearch">

    <ng-template #suggestions let-attrs="attrs" class="suggestion-template">      
      <ion-icon name="pin-outline" slot="start" color="primary"></ion-icon>
      <ion-label style="color: black;">
        {{ attrs.data.nombre }}
      </ion-label>
    </ng-template>

    <ng-template #emptyTemplate let-attrs="attrs">
      <ion-label style="color: black;">
        No encontramos ningun lugar
      </ion-label>
    </ng-template>

    <ion-auto-complete [dataProvider]="lugaresService" 
    [emptyTemplate]="emptyTemplate"    
    [template]="suggestions" (itemSelected)="openLugar($event)"
      [styles]="{'searchbar': {'--border-radius': '2rem'}, 'list':{'width': '90%'}}"
      [options]="{ placeholder : 'Buscar', color: 'blanco'}">
    </ion-auto-complete>
  </div>

  <ion-fab slot="fixed" size="small" vertical="top" horizontal="end" translucent="true">
    <ion-fab-button (click)="toggleSearch()">
      <ion-icon name="search" *ngIf="!showSearch"></ion-icon>
      <ion-icon name="close-circle-outline" *ngIf="showSearch"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  

  <div id="map" style="height: 100%; width: 100%;"></div>

  <app-drawer (openStateChanged)="toggleBackdrop($event)" (btnClick)="openCategoria($event)"
    (btnRoute)="goToPath($event)" *ngIf="showDrawerPrincipal"></app-drawer>

  <mt-drawer-categoria (openStateChanged)="toggleBackdrop($event)" (btnLugarClick)="openLugar($event)"
    (redrawMap)="redrawMap($event)" [loading]="loading" [categoria]="categoriaSelected"
    [categoriaPrincipal]="categoriaPrincipal" *ngIf="showDrawerCategoria">
  </mt-drawer-categoria>

  <mt-drawer-circuitos (openStateChanged)="toggleBackdrop($event)" (btnClick)="changeCircuito($event)"
    *ngIf="showCircuitos">
  </mt-drawer-circuitos>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!showDrawerPrincipal">
    <ion-fab-button (click)="backCategoria()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showCircuitos">
    <ion-fab-button (click)="backCircuitos()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>