<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <ion-header>
  <ion-item lines="none" class="item-search">

    <mat-form-field color="red" class="mat-field-full-width">
      <input type="text" matInput [matAutocomplete]="auto">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearMotivo()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete [displayWith]="autocompletMotivoDisplay" #auto="matAutocomplete">
        <mat-option *ngIf="loadingLugares" class="is-loading">Espere...</mat-option>
        <ng-container *ngIf="!loadingLugares">
          <mat-option *ngFor="let p of lugares" [value]="p">
            <span>{{p.descripcion}}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
    </ion-item>
</ion-header> -->

<ion-content [fullscreen]="true" scrollY="false">


  <div id="map" style="height: 100%; width: 100%;"></div>

  <app-drawer (openStateChanged)="toggleBackdrop($event)" (btnClick)="openCategoria($event)"
    (btnRoute)="goToPath($event)" *ngIf="showDrawerPrincipal"></app-drawer>

  <mt-drawer-categoria (openStateChanged)="toggleBackdrop($event)" (btnLugarClick)="openLugar($event)"    
    (redrawMap)="redrawMap($event)" [loading]="loading"
    [categoria]="categoriaSelected" [categoriaPrincipal]="categoriaPrincipal" *ngIf="showDrawerCategoria">
  </mt-drawer-categoria>

  <mt-drawer-circuitos (openStateChanged)="toggleBackdrop($event)" (btnClick)="changeCircuito($event)"
    *ngIf="showCircuitos">
  </mt-drawer-circuitos>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!showDrawerPrincipal">
    <ion-fab-button (click)="backCategoria()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showCircuitos">
    <ion-fab-button (click)="backCircuitos()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>