<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
      <ion-back-button defaultHref="/home" [text]="'COMMON.BACK' | translate"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div slot="fixed" class="div-fixed">
    <h1 class="ion-padding-start"><strong>Eventos en Misiones</strong></h1>
    <!-- <ion-searchbar placeholder="" animated></ion-searchbar> -->

    <ion-item class="search" lines="none">
      <ion-button shape="round" color="secondary" slot="end" (click)="buscar()" [disabled]="searchText ==''">
        <ion-icon slot="icon-only" color="blanco" name="arrow-forward-outline"></ion-icon>
      </ion-button>
      <ion-input [(ngModel)]="searchText" type="text" placeholder=""></ion-input>
    </ion-item>

  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Estira para actualizar"
      refreshingSpinner="circles" refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list lines="none" *ngIf="!loading">

    <mt-item-cupon *ngFor="let evento of eventos" [evento]="evento"
      [background]="evento.categoria_evento?evento.categoria_evento.color:''" (click)="openEvento(evento)">
    </mt-item-cupon>

  </ion-list>

  <ion-row *ngIf="eventos && eventos.length<=0">
    <ion-col>
      <p class="ion-text-center">
        No se encontraron eventos
      </p>
    </ion-col>
  </ion-row>

</ion-content>